invoice_app/invoice_api/__pycache__/models.cpython-310.pyc
invoice_app/invoice_api/__pycache__/serializers.cpython-310.pyc
invoice_app/invoice_api/__pycache__/urls.cpython-310.pyc
invoice_app/invoice_api/__pycache__/views.cpython-310.pyc
invoice_app/invoice_api/__pycache__/models.cpython-310.pyc
invoice_app/invoice_api/__pycache__/serializers.cpython-310.pyc
invoice_app/invoice_api/__pycache__/urls.cpython-310.pyc
invoice_app/invoice_api/__pycache__/views.cpython-310.pyc
invoice_app/invoice_api/migrations/__pycache__/0001_initial.cpython-310.pyc
invoice_app/invoice_app/__pycache__/settings.cpython-310.pyc
